Microsoft.Flow/flows/974186a3-c986-4a14-a128-5ae1e62af231/definition.json
{"name":"010132ad-0ff4-4120-b890-ff503d9ca403","id":"/providers/Microsoft.Flow/flows/010132ad-0ff4-4120-b890-ff503d9ca403","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"HelpDeskFlow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"bb540fe8-d282-4085-9d61-9f36c317dc6a","type":"User","tenantId":"8985f9b5-679c-4a39-8db6-854329895dac"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-12-28T10:23:10.2007336Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f4c1cbf3-59d6-4469-8acd-0eff0989b9d4"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitems_FilterQuery":{"type":"string","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).. This parameter is used as part of \"C000EBE9-9976-4413-81FB-E865F79BCF8B\"","x-ms-powerflows-param-ispartial":true}},"required":["Getitems_FilterQuery"]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"},"operationMetadataId":"cbc264ae-d301-40ee-9cef-4173eb2606a6"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-northeurope-01.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://bahcesehir-my.sharepoint.com/personal/onur_ozkinaci_bahcesehir_edu_tr'))}/tables/@{encodeURIComponent(encodeURIComponent('2b6fd04c-0b6f-4022-aab9-d7e30accb762'))}/items","queries":{"$filter":"ID eq @{triggerBody()['Getitems_FilterQuery']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@body('Get_items')?['value']","actions":{"Switch":{"runAfter":{},"cases":{"Case_NOT_STARTED":{"case":"NOT STARTED","actions":{"Case_not_started_notification":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-northeurope-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"onur.ozkinaci@bahcesehir.edu.tr","Subject":"There's a ticket for you: @{items('Apply_to_each')?['Title']} ","Body":"There's a <a href='@{items('Apply_to_each')?['{Link}']}'>ticket </a>for you.\n<br/>\n<br/>\n@{if(equals(items('Apply_to_each')?['Priority']?['Value'], 'HIGH'),'This is a high priority item, help desk personnel must begin working on this ticket in 4 hours or less to meet the SLA.','')} @{if(equals(items('Apply_to_each')?['Priority']?['Value'], 'MEDIUM'),'This is a medium priority item, help desk personnel must begin working on this ticket in 8 hours or less to meet the SLA.','')}@{if(equals(items('Apply_to_each')?['Priority']?['Value'], 'LOW'),'This is a low priority item, help desk personnel must begin working on this ticket in 24 hours or less to meet the SLA.','')}","IsHtml":true},"path":"/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"Case_in_progress":{"case":"IN PROGRESS","actions":{"Case_in_progress_notification":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-northeurope-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{items('Apply_to_each')?['Author']?['Email']};","Subject":"Your ticket is being worked on","Body":"Your <a href='@{items('Apply_to_each')?['{Link}']}'>ticket</a> is being worked on.  ","IsHtml":true},"path":"/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"Case_waiting_on_CSR":{"case":"WAITING ON CSR","actions":{"\"Waiting_on_CSR\"_notification":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-northeurope-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{items('Apply_to_each')?['Author']?['Email']};","Subject":"Asking for more information.","Body":"Your <a href='@{items('Apply_to_each')?['{Link}']}'>ticket </a>needs more information. ","IsHtml":true},"path":"/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"Case_completed":{"case":"COMPLETED","actions":{"Case_completed_notification":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-northeurope-01.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{items('Apply_to_each')?['Author']?['Email']};","Subject":"Your ticket is completed.","Body":"Your <a href='@{items('Apply_to_each')?['{Link}']}'>ticket</a> is completed. ","IsHtml":true},"path":"/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}}},"default":{"actions":{}},"expression":"@items('Apply_to_each')?['TaskStatus']?['Value']","metadata":{"operationMetadataId":"7eecd635-6fe6-4041-a228-1943b634d2ea"},"type":"Switch"}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"4d979552-2bf1-436a-890d-62d879fabdb2"},"type":"Foreach"}},"outputs":{},"description":"Create one or more actions to happen when a button or link in PowerApps is selected. To use this flow from a PowerApp, select the control you want to trigger the flow and go to the Action tab in the PowerApps ribbon and select Flows."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"360473c1af8b43e694724b2dcb2c2ead","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"c5243e3e6c8743daa2f25bf554b28905","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}